<ion-header [translucent]="true">
  <!-- header -->
  <ion-toolbar color="main">
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-items-end ion-text-center">
        <ion-col size="3"></ion-col>
        <ion-col size="6" class="ion-text-center">
          <ion-img src="../../assets/white_text_logo.png" class="header-icon" alt="logo"></ion-img>
        </ion-col>
        <ion-col size="3" (click)="CreatePopover()">
            <ion-chip class="ion-margin-start" color="light_gray">
              <ion-avatar>
                <img src="https://avatars0.githubusercontent.com/u/60207521?v=4" alt="avatar-icon">
              </ion-avatar>
              <ion-icon name="caret-down-outline"></ion-icon>
            </ion-chip>
         </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- 遷移テスト -->
  <ion-button color="green" routerLink="/settings">プロフィール編集ページへ</ion-button>
</ion-content>
