<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- カラーテスト -->
  <div>
    <ion-button color="main">main</ion-button>
    <ion-button color="green">green</ion-button>
    <ion-button color="blue">blue</ion-button>
    <ion-button color="light_gray">light_gray</ion-button>
    <ion-button color="dark_gray">dark_gray</ion-button>
  </div>

  <!-- 遷移テスト -->
  <ion-button color="green" routerLink="/login">ログインページへ</ion-button>
</ion-content>
