<ion-header [translucent]="true">
  <!-- header -->
  <ion-toolbar color="main">
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-items-end ion-text-center">
        <ion-col size="3"></ion-col>
        <ion-col size="6" class="ion-text-center">
          <ion-img src="../../assets/white_text_logo.png" class="header-icon" alt="logo"></ion-img>
        </ion-col>
        <ion-col size="3" (click)="CreatePopover()">
          <ion-chip class="ion-margin-start" color="light_gray">
            <ion-avatar>
              <img src="https://avatars0.githubusercontent.com/u/60207521?v=4" alt="avatar-icon">
            </ion-avatar>
            <ion-icon name="caret-down-outline"></ion-icon>
          </ion-chip>
       </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- 遷移テスト -->
<!--   <ion-button color="green" routerLink="/profile">フレンドプロファイルページへ</ion-button>
  <ion-button color="green" routerLink="/friends">フレンドのフレンドリストページへ</ion-button> -->
  
  <ion-list>
    <div class="center">
    <ion-item>
      <ion-avatar slot="start">
        <img src="./avatar-finn.png">
      </ion-avatar>
      <ion-label>
        <h1>Wakudar</h1>
        <h3>I'm a big deal</h3>
        <p color="blue" routerLink="/friends" class="toLink">Find friends</p>
        <ion-button size="small" color="light_gray" routerLink="/settings">Edit profile</ion-button>
        <br>
        <a href="https://github.com/">
        <ion-chip class="ion-margin-start">
          <ion-avatar>
            <img src="../../assets/icon/GitHub.png">
          </ion-avatar>
          <ion-label>GitHub</ion-label>
        </ion-chip>
        </a>
        <a href="https://twitter.com">
        <ion-chip class="ion-margin-start">
          <ion-avatar>
            <img src="../../assets/icon/Twitter.svg">
          </ion-avatar>
          <ion-label>Twitter</ion-label>
        </ion-chip>
        </a>
      </ion-label>
    </ion-item>
    </div>
  </ion-list>
  <!-- techに応じたレベル表示 -->
  <ion-item color="dark_gray" >
    <ion-label class="level_display">
      <p>Python ... Lv10</p>
      <p>JavaScript ... Lv20</p>
    </ion-label>
  </ion-item>

  <!-- 木の表示 -->
  <ion-img src="../../assets/tree.svg" alt="木の画像"></ion-img>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="main" routerLink="/register">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
