<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- 遷移テスト -->
  <ion-button color="green" routerLink="/profile">フレンドプロファイルページへ</ion-button>
  <ion-button color="green" routerLink="/friends">フレンドのフレンドリストページへ</ion-button>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="main" routerLink="/register">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
